@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #000, #000);
  scroll-behavior: smooth;
  
}
body::-webkit-scrollbar-track {
  background: linear-gradient(to bottom , #000,rgb(54, 54, 1) );
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom , #000,rgb(68, 68, 8) );
  border-radius: 20px;
  border: 10px solid var(--scrollbarBG);
}